@using Components
@page "/mordheim/criticalhits/"
@using HexedSceneryCommon.Mordheim;
@using HexedSceneryCommon.User;
@inject Services.IEncounterService _randomHappeningsService
@inject Services.IUserService _userService;
@inject Services.IUserStoredEncountersService _userStoredEncountersService;
@inject Services.IResourceService _resourceService;

<PageTitle>Critical Hits</PageTitle>


<div class="background-paper">
    <svg>
        <filter id="wavy2">
            <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1"></feTurbulence>
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
    </svg>
</div>
<div class="mordheim-page">
    <div class="encounters-pane">
        <div class="encounter-type-selection">
            <h1>Critical Hits</h1>
        </div>
        <div class="encounter-type-selection">
            <div class="selection-item @(encounterType == 8 ? "selected" : "")" @onclick="() => encounterType = 8">
                Missile weapons
            </div>
            <div class="divider hidden-mobile"></div>
            <div class="selection-item @(encounterType == 9 ? "selected" : "")" @onclick="() => encounterType = 9">
                Bludgeon weapons
            </div>
            <div class="divider hidden-mobile"></div>
            <div class="selection-item @(encounterType == 10 ? "selected" : "")" @onclick="() => encounterType = 10">
                Bladed weapons
            </div>
            <div class="divider hidden-mobile"></div>
            <div class="selection-item @(encounterType == 11 ? "selected" : "")" @onclick="() => encounterType = 11">
                Unarmed combat
            </div>
            <div class="divider hidden-mobile"></div>
            <div class="selection-item @(encounterType == 12 ? "selected" : "")" @onclick="() => encounterType = 12">
                Thrusting weapons
            </div>
        </div>
        @if (encounterType.HasValue)
        {
            <HexedSceneryWebsite.Components.EncounterSelector EncounterType="@encounterType.Value" LabelText="Roll a D6 and enter the result:" CacheKey="@encounterStoreKey" OnEncounterSelected="@NewEncounter" />
        }
        else
        {
            <HexedSceneryWebsite.Components.EncounterSelector LabelText="Choose weapon type" CacheKey="@encounterStoreKey" />
        }
    </div>
    <br />
    <div class="encounter">
        @if (prevEncounters != null)
        {
            <div class="previous-encounters container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-5 col-9">
                                <div class="row">
                                    <div class="previous-encounters-title col-lg-2 col-3">
                                        Result
                                    </div>
                                    <div class="previous-encounters-title col-lg-4 col-3">
                                        Weapon
                                    </div>
                                    <div class="previous-encounters-title col-lg-6 col-6">
                                        Effect
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var prevEncounter in prevEncounters)
                        {
                            @if (prevEncounter != null)
                            {
                                <div class="previous-encounters-list">
                                    <div class="row">
                                        <div @onclick="() => GoToPreviousEncounter(prevEncounter)" class="previous-encounters-list-item col-lg-5 col-9">
                                            <div class="row">
                                                <div class="col-lg-2 col-3">
                                                    @prevEncounter.ResultNumber
                                                </div>
                                                <div class="col-lg-4 col-3">
                                                    @_resourceService.GetEncounterType(prevEncounter.EncounterTypeId)
                                                </div>
                                                <div class="col-lg-6 col-6">
                                                    @prevEncounter.Name
                                                </div>
                                            </div>
                                        </div>
                                        <div class="previous-encounters-list-item-trash col-lg-2 col-1">
                                            <span @onclick="() => DeletePreviousEncounter(prevEncounters.IndexOf(prevEncounter))" class="oi oi-trash" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
            <br />
        }


        @if (currentEncounter != null)
        {

            <h3>@currentEncounter.ResultNumber @currentEncounter.Name</h3>
            <p>@((MarkupString)currentEncounter.Description)</p>

            @if (currentEncounter.DiceChart != null)
            {
                <table class="dice-chart-table">
                    <thead>
                        <tr>
                            <th class="first-column">@currentEncounter.DiceChart.Dice</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in currentEncounter.DiceChart.DiceResults)
                        {
                            <tr>
                                <td>@result.ResultNumber</td>
                                <td>@((MarkupString)result.Description)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (currentEncounter.Monster != null)
            {
                @if (currentEncounter.Monster.Profile != null)
                {
                    <span class="first-column">@currentEncounter.Monster.Name</span>
                    <table class="profile-table">
                        <thead>
                            <tr>
                                <th class="first-column">Profile</th>
                                <th>M</th>
                                <th>WS</th>
                                <th>BS</th>
                                <th>S</th>
                                <th>T</th>
                                <th>W</th>
                                <th>I</th>
                                <th>A</th>
                                <th>Ld</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first-column">@currentEncounter.Monster.Name</td>
                                <td>@currentEncounter.Monster.Profile.Movement</td>
                                <td>@currentEncounter.Monster.Profile.WeaponSkill</td>
                                <td>@currentEncounter.Monster.Profile.BallisticSkill</td>
                                <td>@currentEncounter.Monster.Profile.Strength</td>
                                <td>@currentEncounter.Monster.Profile.Toughness</td>
                                <td>@currentEncounter.Monster.Profile.Wounds</td>
                                <td>@currentEncounter.Monster.Profile.Initiative</td>
                                <td>@currentEncounter.Monster.Profile.Attacks</td>
                                <td>@currentEncounter.Monster.Profile.Leadership</td>
                            </tr>
                        </tbody>
                    </table>
                }

                @if (currentEncounter.Monster.Skills != null)
                {
                    foreach (var skill in currentEncounter.Monster.Skills)
                    {
                        <p class="skill"><b>@skill.Name:</b> @((MarkupString)skill.Description)</p>
                    }
                }
            }
            @if (!string.IsNullOrEmpty(currentEncounter.BottomText))
            {
                <p>@((MarkupString)currentEncounter.BottomText)</p>
            }

        }
    </div>
</div>

@code {
    private int? encounterType { get; set; }
    private string resultNumberString = string.Empty;
    private UserInfo userInfo;
    private List<Encounter> prevEncounters;
    private string encounterStoreKey;
    private Encounter currentEncounter;

    [CascadingParameter(Name = "ErrorComponent")]
    protected IErrorComponent ErrorComponent { get; set; }

    private async void GoToPreviousEncounter(Encounter prevEncounter)
    {
        currentEncounter = prevEncounter;
        StateHasChanged();
    }

    private async void DeletePreviousEncounter(int prevEncounterIndex)
    {
        prevEncounters.RemoveAt(prevEncounterIndex);
        StateHasChanged();
    }

    private async void NewEncounter(Encounter encounter)
    {
        await _userStoredEncountersService.StoreEncounter(encounterStoreKey, encounter);
        prevEncounters = await _userStoredEncountersService.GetUserEncounters(encounterStoreKey);
        currentEncounter = encounter;
        StateHasChanged();

    }

    protected override async Task OnInitializedAsync()
    {
        userInfo = await _userService.GetUserInfo();
    }

    protected override async Task OnParametersSetAsync()
    {
        encounterStoreKey = $"criticalhits_{userInfo.IpAddress}";
        prevEncounters = await _userStoredEncountersService.GetUserEncounters(encounterStoreKey);
        currentEncounter = null;
    }
}
