@using HexedSceneryMobileApp.Services


@inject IEncounterService EncounterService


@if (_encounter == null)
{
    <span>Loading...</span>
}
else
{
    <div>&nbsp;</div>
    <h3 class="schoensperger xtra-large-text">@_encounter.Name</h3>
    <p class="caslon-antique text">@((MarkupString)_encounter.Description)</p>

    @if (_encounter.DiceChart != null)
    {
        <div>&nbsp;</div>
        <MudTable Items="@_encounter.DiceChart.DiceResults">
            <HeaderContent>
                <MudTh Class="schoensperger text">@_encounter.DiceChart.Dice</MudTh>
                <MudTh Class="schoensperger text">Result</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd Class="caslon-antique text" DataLabel="@_encounter.DiceChart.Dice">
                    @if (string.IsNullOrEmpty(context.Name))
                    {
                        @context.ResultNumber
                    }
                    else
                    {
                        @context.Name
                    }
                </MudTd>
                <MudTd Class="caslon-antique text" DataLabel="Result">@((MarkupString)context.Description)</MudTd>
            </RowTemplate>
        </MudTable>
    }
    @if (_encounter.MonsterId.HasValue)
    {
        <div>&nbsp;</div>
        <Monster MonsterId="_encounter.MonsterId.Value" />
    }
}


@code {
    [Parameter]
    public int EncounterResultNumber { get; set; }

    [Parameter]
    public int EncounterTypeId { get; set; }

    private Models.Encounter _encounter;
  


    protected override async Task OnParametersSetAsync()
    {
        _encounter = await EncounterService.GetEncounterAsync(EncounterTypeId, EncounterResultNumber);
        StateHasChanged();
    }
}
