@using HexedSceneryMobileApp.Services



@if (CurrentEncounter == null)
{
    <span>Loading...</span>
}
else
{
    <div>&nbsp;</div>
    <h3 class="schoensperger xtra-large-text">@CurrentEncounter.Name</h3>
    <p class="caslon-antique text">@((MarkupString)CurrentEncounter.Description)</p>

    @if (CurrentEncounter.DiceChartId.HasValue)
    {
        <div>&nbsp;</div>
        <DiceChartComponent DiceChartId="@CurrentEncounter.DiceChartId.Value" ParentId="@CurrentEncounter.Id" ParentTypeId="@EncounterTypeId" />
    }
    @if (CurrentEncounter.MonsterId.HasValue)
    {
        <div>&nbsp;</div>
        <Monster MonsterId="CurrentEncounter.MonsterId.Value" />
    }
}


@code {

    [Parameter]
    public Models.Encounter CurrentEncounter { get; set; }

    [Parameter]
    public int EncounterTypeId { get; set; }



    protected override async Task OnParametersSetAsync()
    {
        
    }
}
